.image {
    display: block;
    margin-left: auto;
    margin-right: auto ;
    text-align:center}

.why{
    color: #4977B2    ;
    text-align: center;
    
}
.bud{
    color: black;
    margin-top: 5pt;
}
.msg{
    color:#2B394B  ;
}