
<div id="" class="container___11mOE isActive___1fxSt">
  <div>
    <h3 style="display: flex;">
      <div style="padding: 2px 2px 2px 0px;">Informations Personnelle</div>
    </h3>
    <div class="topRightButton___CTD8W" role="presentation" data-tip="true" data-for=""><img class="svgIcon___23MLd"
        src="/assets/images/pencil.png" alt="Action"></div>
    <div>
      <div class="legalUser___3Fdx7">
        <div class="profileStudentDisplay___16RWd">
          <div>Prénom et Nom :</div>
          <div>Wajdi Hamdi</div>
        </div>
        <div class="profileStudentDisplay___16RWd">
          <div>Date de Naissance :</div>
          <div>05/02/1995</div>
        </div>
        <div class="profileStudentDisplay___16RWd">
          <div>Ville de Naissance :</div>
          <div> - </div>
        </div>
        <div class="profileStudentDisplay___16RWd">
          <div>Nationalité :</div>
          <div>Française</div>
        </div>
        <div class="profileStudentDisplay___16RWd">
          <div>N° sécurité sociale :</div>
          <div> - </div>
        </div>
      </div>
    </div>
  </div>
</div>